<h1 class="m-4">Enter Student Data</h1>
<form action="/create" method="post">
    <div class="d-flex flex-column align-items-center">
        <input type="text" name="name" placeholder="Name" class="form-control mb-3">
        <input type="text" name="lastName" placeholder="Last Name" class="form-control mb-3">
        <input type="number" name="age" placeholder="Age" class="form-control mb-4">
        <button type="submit" class="btn w-100 btn-outline-dark text-bold"><strong>SEND</strong></button>
    </div>
</form>